<div class="commentsList">
  <div class="container">
    <h2>Suggestion:</h2>
    <div class="title">{{ post.title }}</div>
    <h2>Comments:</h2>
  <div class="singleComment" ng-repeat="comment in post.comments">
    <p>{{ comment.body }} {{ comments.upvotes }}</p>
  </div>
    <p>
    <span class="glyphicon glyphicon-plus-sign" ng-click="upVote(comment)"></span> Upvotes: {{comment.upvotes}}
    </p>
  <form ng-submit="addComment(comment)" style="margin-top: 50px">
    <h3>Add New Comment</h3>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Add Comment here" ng-model="comment">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>
